<div class="container">
    <div class="cls1">
        <h2> Workout Videos</h2>
        <p> Follow these Videos to Stay Fit and Healthy</p>
    </div>
    <div class="main">
        <br>
       
          <video width="640" height="360" controls>
            <source src="assets/images/video5.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <video width="640" height="360" controls>
            <source src="assets/images/video6.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>

         <p style="text-align: center; font-weight: bold;"> “A good laugh and a long sleep are the best cures in the doctor’s book.”</p>


          <video width="640" height="360" controls>
            <source src="assets/images/video8.mov" type="video/mp4">
            Your browser does not support the video tag.
          </video>


          <video width="640" height="360" controls>
            <source src="assets/images/video4.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <br> 
          <p style="text-align: center; font-weight: bold;">“The higher your energy level, the more efficient your body. The more efficient your body, the better you feel and the more you will use your talent to produce outstanding results.”</p>
          <br><br>

          <video width="640" height="360" controls>
            <source src="assets/images/video7.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <video width="640" height="360" controls>
            <source src="assets/images/video10.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          
    </div>
</div>