.container {
    max-width: 1350px;
    margin: 0 auto;
    /* padding: 0 20px; */
    padding-top: 20px;
    padding-left: 0%;
    background-color: whitesmoke;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .hero {
    text-align: center;
    /* padding: 100px 0; */
  }
  
  .hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
  }
  
  .btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .search-container {
    max-width: 1600px;
    width: 1230px;
    margin: 20px auto;
  }
  
  input[type='text'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  /* Add additional styling as needed for the search component */
  .dashboard {
    background-color: rgb(28, 37, 58);
    width: 97%;
    color: white;
    padding-left: 50px;


  }
  /* .container{
    width: 2900px;
  } */
  img {
    display: inline-block;
    width: 420px;
    height: 370px;
    padding-left: 25px;
    padding-top: 10px;
  }
  video{
    padding-left: 25px;
    padding-top: 10px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    width: 1000px;
  }
  
  .search-bar {
    width: 1000px;
    margin-right: 10px; /* Adjust the margin as needed */
  }