<!-- <p> 
    Hii Welcome to Home Page
</p>

<input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="search()"> -->



<div class="container">
    <header class="dashboard">
      <h1> Wellness Tracking System</h1>
      <nav > 
        <ul >
          <li><a href="#" style="color: white;" routerLink="/homepage" >Home</a></li>
          <li><a href="#" style="color: white;" routerLink="/workoutvideos"> Workout Videos</a></li>
          <li><a href="#" style="color: white;" routerLink="/mealplans">Meal Plans </a></li>
          <li><a href="#" style="color: white;" routerLink="/customworkouts"> Custom Workouts</a></li>
          <li><a href="#" style="color: white;" routerLink="/routines"> Routines </a></li>
        </ul>
      </nav>
    </header>
    <div class="search-container">
        <!-- <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="search()" /> -->
        <!-- Add the necessary input fields for different search criteria -->
      </div>
    <section class="hero">
      <p style="font-weight: bold;">Welcome to Your Wellness Tracker</p>
      <!-- <p>Keep track of your progress and stay motivated on your wellness journey.</p>
      <a href="#" class="btn">Get Started</a> -->
     
      <!-- <img src="./img2.jpeg" alt="Girl in a jacket" width="500" height="600"> -->
      <div>
      <img src="../assets/images/img3.jpeg" alt="Girl in a jacket" width="500" height="600">
      <video width="640" height="360" controls>
        <source src="assets/images/video2.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
     
   
      
    </div>

    <div>
        <p> “I don’t run to add days to my life, I run to add life to my days.”</p>
        <img src="../assets/images/img2.jpeg" alt="Girl in a jacket" width="500" height="600">
        <img src="../assets/images/img4.jpeg" alt="Girl in a jacket" width="500" height="600">
        <img src="../assets/images/img6.jpeg" alt="Girl in a jacket" width="500" height="600">

       <p>“Don’t dream of winning. Train for it!” </p>
        <p> “Life is like riding a bicycle. To keep your balance, you must keep moving.” </p> 

        <video width="640" height="360" controls>
            <source src="assets/images/video1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <video width="640" height="360" controls>
            <source src="assets/images/video3.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        
        
    </div>

    </section>
  </div>
  

  
  