<div class="container">
    <div class="cls1">
        <h2> Custom Workouts</h2>
        <p> “When you have a clear vision of your goal, it’s easier to take the first step toward it.”</p>
    </div>
    <div class="main">
        <br>
        <p style="padding-left: 30px; "> Please Fill the form below and click on search button to get personalized custom workouts.</p>
        
            <form  fxLayoutAlign="stretch" fxLayout="column" class="form-div" style="padding-left: 70px;">
              
                
                <input matInput placeholder="Age"  class="input" style="padding-left: 100px;">
                &nbsp;
                &nbsp;
                
                <input matInput  placeholder=" Course Duration in Days" class="input" style="width: 170px;">
                &nbsp;
                &nbsp;
                <button mat-raised-button type="submit" routerLink="/login" style="height: 40px; width: 130px;" > Search </button>
                <br>
                
            </form>
            
            
         
         
         
         
           
          
        




    </div>
       
</div>