.main-div mat-card{
    background-color: aliceblue;
    /* background-image: url('./login_page_background.jpeg'); */
    padding: 0px;
   
}
.form-div{
    padding:20px;
    
}
.signup {
    padding: 20px;
}
.toolbar{
   text-align: center;
}
.mat-typography{
    background-image: url('./login_page_background.jpeg');
}
.login-div {
    margin-top: 0px;
    text-align: top;
    font-style: italic;
    font-size: large;
}