<div fxLayoutAlign="center center" fxFlexFill class="main-div"> 
  <div class="container">
    <div>
    <header class="dashboard">
      <h2 style="padding-left: 500px;"> WELCOME TO WELLNESS TRACKING SYSTEM </h2>
      </header>
    </div>
    <!-- <title><h1 class="login-div" > WELLNESS TRACKING SYSTEM</h1></title> -->
  <div>
    <p style=" padding-top: 40px; padding-left: 60px; font-weight: bold; font-style:oblique">  Login by providing the user credentials in the form below. If you don't have an account Please try creating one using the Create Account link below the form.</p>

    <div class="sam">
    <mat-card fxFlex="25" >
        <mat-toolbar color="primary" class="toolbar">Sign In / Sign Up</mat-toolbar>
        <form  fxLayoutAlign="stretch" fxLayout="column" class="form-div">
            <mat-form-field >
              
              <input matInput placeholder="Username" >
            </mat-form-field>
          
            <mat-form-field >
             
              <input matInput type="password" placeholder="Password">
            </mat-form-field>
            <button mat-raised-button type="submit" routerLink="/homepage" >Login</button>
            <p></p>
            <a href="" class="signup" routerLink="/signup"> Create Account ? Signup</a>
          </form>
         
          
    </mat-card>
    <img src="../assets/images/homepage1.webp" alt="Girl in a jacket" width="500" padding-left="30px" height="400">

  </div>

  </div>


    </div>
</div>