.main-div mat-card{
    padding-left: 50px;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 40px;
    width: 30%;
   
   
}
.main-div{
    background-color: rgb(237, 239, 243);
}
.form-div{
    padding:20px;

}

.toolbar{
   text-align: center;
   background-color: #fafafa;
   color: black;
   font-size: 20px;
   justify-content: space-between;
   font-weight: bold;
}

/* .login-div {
    margin-top: 0px;
    text-align: top;
    font-style: italic;
    font-size: large;
} */
.google-button{
    background-color: white;
    border: #fafafa;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: #3f51b5;
    

}
.mat-mdc-raised-button:not(:disabled) {
    color: #fafafa;
}
.login-header{
    align-items: center;
    /* background: rgb(220, 235, 241); */
    box-shadow: 0 2px 3px rgba(0,0,0,.25);
    display: flex;
    height: 65px;
    justify-content: space-between;
    left: 0;
    padding-left: 33rem;
    padding-right: 2rem;
    position: fixed;
    right: 0;
    top: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: large;
    font-size: 30px;
}