<div fxLayoutAlign="center center" fxFlexFill class="main-div"> 
   
    <title><h1 class="login-div" > WELLNESS TRACKING SYSTEM</h1></title>
    <mat-card fxFlex="25" >
        <mat-toolbar color="primary" class="toolbar">Sign In / Sign Up</mat-toolbar>
        <form  fxLayoutAlign="stretch" fxLayout="column" class="form-div">
            <mat-form-field >
              
              <input matInput placeholder="Username" >
            </mat-form-field>
          
            <mat-form-field >
             
              <input matInput type="password" placeholder="Password">
            </mat-form-field>
            <button mat-raised-button type="submit" routerLink="/signup" >Login</button>
            <p></p>
            <a href="" class="signup"> Create Account ? Signup</a>
          </form>
         
          
    </mat-card>
</div>