
<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill class="main-div" > 
    <!-- <div class="login-header"> -->
     <h2 class="login-header"> WELLNESS TRACKING SYSTEM</h2>
    <!-- </div> -->
    <!-- <div class="colum-container"> -->
     <div fxFlex="30%" class="col1"> 
     <mat-card >
        <mat-toolbar color="primary" class="toolbar" style="display: block;">
            Sign Up and Join Us
        </mat-toolbar>
         <form  fxLayoutAlign="stretch" fxLayout="column" class="form-div"  [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
             <mat-form-field >
               
               <input matInput placeholder="Full Name" id="fullname" formControlName="fullname" >
             </mat-form-field>
             <mat-form-field >
               
                <!-- <input matInput placeholder="Last Name" >
              </mat-form-field>
              <mat-form-field > -->
               
                <input matInput placeholder="Email"  id="email" formControlName="email"
                >
              </mat-form-field>
              <mat-form-field >
               
                <input matInput placeholder="Username" id="username"  formControlName="username"
                >
              </mat-form-field>
           
             <mat-form-field >
              
               <input matInput type="password" placeholder="Password" id="password"  formControlName="password" >
             </mat-form-field>
             <mat-form-field >
              
                <input matInput type="password" placeholder="Confirm Password" id="cPassword" formControlName="cPassword">

              </mat-form-field>
             
                <select class="custom-select" (change)="changeRole($event)" formControlName="role" >
                  <option value="">Select your role</option>
                  <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
                </select>
             <br>

             <button mat-raised-button type="submit"  >Sign Up</button>
             <br>
            
           </form>
         
           
     </mat-card>
    </div>
     <div fxFlex="30%" class="clo2">
        <p style="font-weight:bold " class="title">Key Points :</p>
        <br>
        <!-- <textarea class="textarea"> -->
        <ul class="textarea">
            <li >Customizable Fitness Calender </li>
            <br>
            <li >Daily Progress Tracking </li>
            <br>
            <li >Favourite Workout Videos </li>
            <br>
            <li > 24/7 Community Support  </li>
            <br>
            <li > Helpful health, nutrition and fitness information </li>
            <br>
            <li > and much,much more... </li>
          </ul>
        
            
            <!-- style="width:90%"></textarea> -->
    </div>

 
</div>
 
   
  
 <!-- </div> -->

 <!-- id="fullname" formControlName="fullname"
 id="email" formControlName="email"
 formControlName="username"
 formControlName="password" -->