/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
<<<<<<< HEAD
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url('./app/samplebackground.jpg'); background-size: 96%; }
=======
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }
>>>>>>> c1fe5361 (login and sign up pages developed)
